In [1480]:
import warnings
warnings.filterwarnings("ignore")

In [1481]:
import pandas as pd
import numpy as np

In [1482]:
train = pd.read_csv('../input/kaggledatafest/train.csv')
test = pd.read_csv('../input/kaggledatafest/test.csv')
sample = pd.read_csv('../input/kaggledatafest/sample_submission.csv')

In [1483]:
m = {'Semi-Premium': 50000, 'Premium':100000, 'Affordable': 10000, 'Cheap': 100}

In [1484]:
train['Price_Category_num'] = train['Price_Category'].map(m)

In [1485]:
# train['Brand_new'] = train['Title'].apply(lambda x: 1 if (('brand' in str(x).lower()) or ('new' in str(x).lower())) else 0)
# test['Brand_new'] = test['Title'].apply(lambda x: 1 if (('brand' in str(x).lower()) or ('new' in str(x).lower())) else 0)

In [1486]:
# for col in test.columns:
#     train[col] = train[col].apply(lambda x: f'empty_{col}' if str(x).strip() == '' else x)
#     test[col] = test[col].apply(lambda x: f'empty_{col}' if str(x).strip() == '' else x)

In [1487]:
test.head()

,Property_Id,Title,Label,Type,Location,Baths,Area,Purpose,Bedroom(s),Description,Main Features,Rooms,Business and Communication,Healthcare Recreational,Nearby Locations and Other Facilities,Other Facilities,Popular,Source,Time Stamp
0,685,Bungalow Is Available For Sale,"Gulshan-e-Iqbal Town, Karachi, Sindh",House,"Gulshan-e-Iqbal Town, Karachi, Sindh",-,16.8 Marla,For Sale,-,Ideal Location Well Maintained 2 Sided Corner ...,,,,,,,hot,Karachi-2-44,5/19/2019 1:19
1,1651,Brand New Double Unit House For Sale At Good L...,"Allama Iqbal Town - Neelam Block, Allama Iqbal...",House,"Allama Iqbal Town, Lahore, Punjab",5,5 Marla,For Sale,5,A nice and beautifully built 5 Marla House is ...,,"Bedrooms: 5 , Bathrooms: 5 , Drawing Room , D...",,,,,super hot,Lahore-1-6,3/31/2019 11:00
2,87,House For Sale At Prime Location In Lahore,"Sabzazar Scheme - Block A, Sabzazar Scheme, La...",House,"Sabzazar Scheme, Lahore, Punjab",6,12 Marla,For Sale,4,12 marla fully separate double storey house fo...,"Parking Spaces: 3 , Flooring , Waste Disposal...","Bedrooms: 5 , Bathrooms: 7 , Servant Quarters...","Broadband Internet Access , Satellite or Cabl...",,,Security Staff,super hot,Lahore-1-36,3/31/2019 20:59
3,3000,Sd House Is Available For Sale,"Falcon Complex New Malir, Malir, Karachi, Sindh",House,"Malir, Karachi, Sindh",4,14 Marla,For Sale,4,We Are Offering You A Chance To Get Your Hands...,"Built in year: 2018 , Parking Spaces: 1 , Dou...","Bedrooms: 4 , Bathrooms: 4 , Drawing Room , D...","Broadband Internet Access , Satellite or Cabl...","Lawn or Garden , Swimming Pool , Sauna , Jacu...","Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff , Faciliti...",hot,Karachi-2-37,5/19/2019 0:46
4,1597,10 Marla Brand New Double Unit House For Sale ...,"PWD Housing Scheme, Islamabad, Islamabad Capital",House,"PWD Housing Scheme, Islamabad, Islamabad Capital",4,10 Marla,For Sale,4,Brand New House04 Bedrooms + 04 Attached Bathr...,"Parking Spaces , Waste Disposal","Bedrooms: 04 , Bathrooms: 04 , Drawing Room ,...","Broadband Internet Access , Satellite or Cabl...",,"Nearby Schools , Nearby Hospitals , Nearby Sh...",,NaN,Islamabad-3-20,3/31/2019 23:31

In [1488]:
train.head()

,Property_Id,Title,Label,Type,Location,Baths,Area,Purpose,Bedroom(s),Description,...,Rooms,Business and Communication,Healthcare Recreational,Nearby Locations and Other Facilities,Other Facilities,Popular,Source,Time Stamp,Price_Category,Price_Category_num
0,381,Brand New 1 Kanal House For Sale In Bahria Tow...,"Bahria Town - Gulbahar Block, Bahria Town - Se...",House,"Bahria Town, Lahore, Punjab",6,1 Kanal,For Sale,5,Brand New 1 Kanal House For Sale In Bahria Tow...,...,"Bedrooms: 5 , Bathrooms: 7 , Servant Quarters...","Broadband Internet Access , Satellite or Cabl...","Lawn or Garden , Swimming Pool","Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff , Faciliti...",super hot,Lahore-1-10,3/31/2019 11:01,Semi-Premium,50000
1,1351,Brand New House Is Available For Sale In Emaar...,"Emaar Canyon Views, Islamabad, Islamabad Capital",House,"Emaar Canyon Views, Islamabad, Islamabad Capital",5,1.2 Kanal,For Sale,5,A gracefully built 600 Sq. yd House is availab...,...,"Bedrooms: 5 , Bathrooms: 5",,,,,hot,Islamabad-3-8,3/31/2019 23:18,Semi-Premium,50000
2,3119,1 Kanal House For Sale In Phase 3 DHA Defence ...,"DHA Phase 3 - Block Z, DHA Phase 3, DHA Defenc...",House,"DHA Defence, Lahore, Punjab",6,1 Kanal,For Sale,6,A nice 1 Kanal House is offered for sale. The ...,...,"Bedrooms: 6 , Bathrooms: 6 , Drawing Room , D...",,,,,super hot,Lahore-1-16,3/31/2019 11:35,Premium,100000
3,3564,Luxury Villa Is Available At Good Location,"Bahria Town - Precinct 27, Bahria Town Karachi...",House,"Bahria Town Karachi, Karachi, Sindh",3,9.4 Marla,For Sale,3,3 Bed Rooms Luxury Villa. Precinct # 27Villa S...,...,"Bedrooms: 3 , Bathrooms: 3 , Drawing Room , D...",,,,,NaN,Karachi-2-49,5/19/2019 1:23,Semi-Premium,50000
4,1518,5 Marla Double Storey Beautiful House For Sale...,"Bani Gala, Islamabad, Islamabad Capital",House,"Bani Gala, Islamabad, Islamabad Capital",3,5 Marla,For Sale,3,Newly build houseSolid constructedOwner buildH...,...,,,,,,hot,Islamabad-3-41,3/31/2019 23:55,Affordable,10000

In [1489]:
train['Price_Category'].value_counts()

Semi-Premium    1837
Premium         1057
Affordable       170
Cheap             18
Name: Price_Category, dtype: int64

In [1490]:
train.drop(['Title'],axis=1,inplace=True)
test.drop(['Title'],axis=1,inplace=True)

In [1491]:
# train[['L1', 'L2', 'L3', 'L4', 'L5']] = ''

In [1492]:
# for i,vals in enumerate(train['Label'].apply(lambda x: x.split(','))):
#     for j,val in enumerate(vals):
#         train.at[i, f'L{j+1}'] = val

In [1493]:
train.drop(['Label'],axis=1,inplace=True)
test.drop(['Label'],axis=1,inplace=True)

In [1494]:
train[['Town', 'City', 'Province']] = ''
test[['Town', 'City', 'Province']] = ''

In [1495]:
cols = ['Town', 'City', 'Province']
for i,vals in enumerate(train['Location'].apply(lambda x: x.split(','))):
    for j,val in enumerate(vals):
        v = cols[j]
        train.at[i, v] = val
        
cols = ['Town', 'City', 'Province']
for i,vals in enumerate(test['Location'].apply(lambda x: x.split(','))):
    for j,val in enumerate(vals):
        v = cols[j]
        test.at[i, v] = val

In [1496]:
# train[['City_Aff','City_Cheap','City_Premium','City_Sem']] = train[['City_Aff','City_Cheap','City_Premium','City_Sem']].apply(lambda x: x/np.sum(x), axis=1)
# test[['City_Aff','City_Cheap','City_Premium','City_Sem']] = test[['City_Aff','City_Cheap','City_Premium','City_Sem']].apply(lambda x: x/np.sum(x), axis=1)

In [1497]:
# m = train.groupby('Town')['Price_Category_num'].mean()

# train['Town_Avg'] = train['Town'].map(m)
# test['Town_Avg'] = test['Town'].map(m)

In [1498]:
train.drop('Price_Category_num',axis=1,inplace=True)

In [1499]:
train

,Property_Id,Type,Location,Baths,Area,Purpose,Bedroom(s),Description,Main Features,Rooms,...,Healthcare Recreational,Nearby Locations and Other Facilities,Other Facilities,Popular,Source,Time Stamp,Price_Category,Town,City,Province
0,381,House,"Bahria Town, Lahore, Punjab",6,1 Kanal,For Sale,5,Brand New 1 Kanal House For Sale In Bahria Tow...,"Built in year: 2018 , Parking Spaces: 4 , Dou...","Bedrooms: 5 , Bathrooms: 7 , Servant Quarters...",...,"Lawn or Garden , Swimming Pool","Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff , Faciliti...",super hot,Lahore-1-10,3/31/2019 11:01,Semi-Premium,Bahria Town,Lahore,Punjab
1,1351,House,"Emaar Canyon Views, Islamabad, Islamabad Capital",5,1.2 Kanal,For Sale,5,A gracefully built 600 Sq. yd House is availab...,,"Bedrooms: 5 , Bathrooms: 5",...,,,,hot,Islamabad-3-8,3/31/2019 23:18,Semi-Premium,Emaar Canyon Views,Islamabad,Islamabad Capital
2,3119,House,"DHA Defence, Lahore, Punjab",6,1 Kanal,For Sale,6,A nice 1 Kanal House is offered for sale. The ...,,"Bedrooms: 6 , Bathrooms: 6 , Drawing Room , D...",...,,,,super hot,Lahore-1-16,3/31/2019 11:35,Premium,DHA Defence,Lahore,Punjab
3,3564,House,"Bahria Town Karachi, Karachi, Sindh",3,9.4 Marla,For Sale,3,3 Bed Rooms Luxury Villa. Precinct # 27Villa S...,,"Bedrooms: 3 , Bathrooms: 3 , Drawing Room , D...",...,,,,NaN,Karachi-2-49,5/19/2019 1:23,Semi-Premium,Bahria Town Karachi,Karachi,Sindh
4,1518,House,"Bani Gala, Islamabad, Islamabad Capital",3,5 Marla,For Sale,3,Newly build houseSolid constructedOwner buildH...,,,...,,,,hot,Islamabad-3-41,3/31/2019 23:55,Affordable,Bani Gala,Islamabad,Islamabad Capital
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,2036,House,"I-8, Islamabad, Islamabad Capital",10,12.4 Marla,For Sale,10,Triple Storey 35x80 New House For Sale In I-8 ...,,"Bedrooms: 10 , Bathrooms: 10 , Drawing Room ,...",...,,,,NaN,Islamabad-3-29,3/31/2019 23:42,Premium,I-8,Islamabad,Islamabad Capital
3078,193,House,"Al Jalil Garden, Lahore, Punjab",3,5 Marla,For Sale,3,5 Marla Model House available in Al Jalil Gard...,,"Bedrooms: 3 , Bathrooms: 3",...,,,,super hot,Lahore-1-35,3/31/2019 20:59,Affordable,Al Jalil Garden,Lahore,Punjab
3079,204,House,"DHA Defence, Islamabad, Islamabad Capital",2,5 Marla,For Sale,2,Pioneers in the art of master-planned communit...,"Built in year: 2016 , Parking Spaces: 1 , Dou...","Bedrooms: 2 , Bathrooms: 2 , Kitchens: 1 , St...",...,Other Healthcare and Recreation Facilities,"Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff , Faciliti...",NaN,Islamabad-3-36,3/31/2019 23:50,Cheap,DHA Defence,Islamabad,Islamabad Capital
3080,1938,House,"Bahria Town, Islamabad, Islamabad Capital",6,10 Marla,For Sale,5,Luxury interior Excellent Elevation Bahria enc...,"Built in year: 2018 , Double Glazed Windows ,...","Bedrooms: 5 , Bathrooms: 6 , Servant Quarters...",...,Lawn or Garden,"Nearby Schools , Nearby Hospitals , Nearby Sh...","Maintenance Staff , Security Staff",super hot,Islamabad-3-7,3/31/2019 23:17,Semi-Premium,Bahria Town,Islamabad,Islamabad Capital
3081,818,House,"Bhara kahu, Islamabad, Islamabad Capital",3,5 Marla,For Sale,2,5 Marla Corner Brand new house for sale in Gre...,,,...,,,,hot,Islamabad-3-48,04/01/2019 00:01,Affordable,Bhara kahu,Islamabad,Islamabad Capital

In [1500]:
train.drop(['Location'],axis=1,inplace=True)
test.drop(['Location'],axis=1,inplace=True)

In [1501]:
for i, row in enumerate(train['Area'].iteritems()):
    if 'Marla' in str(row[1]):
        val = float(row[1].split(' ')[0].replace(',','')) / 20
        train.at[i, 'Area'] = val
        
        
for i, row in enumerate(test['Area'].iteritems()):
    if 'Marla' in str(row[1]):
        val = float(row[1].split(' ')[0].replace(',','')) / 20
        test.at[i, 'Area'] = val

In [1502]:
train['Area'] = train['Area'].apply(lambda x: float(x.split(' ')[0])*5445 if type(x)==str else x*5445)
test['Area'] = test['Area'].apply(lambda x: float(x.replace(',','').split(' ')[0])*5445 if type(x)==str else x*5445)

In [1503]:
train.drop(['Purpose'],axis=1,inplace=True)
test.drop(['Purpose'],axis=1,inplace=True)

In [1504]:
train.drop(['Description'],axis=1,inplace=True)
test.drop(['Description'],axis=1,inplace=True)

In [1505]:
# for i, row in enumerate(test['Main Features'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             l = v.split(':')
#             col, num = l[0], l[1]
#             col = col.strip()
#             num = int(num)
#             test.at[i,col] = num
#             break
#         except:
#             pass
        
# for i, row in enumerate(train['Main Features'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             l = v.split(':')
#             col, num = l[0], l[1]
#             col = col.strip()
#             num = int(num)
#             train.at[i,col] = num
#             break
#         except:
#             pass

In [1506]:
# for now only
train.drop(['Main Features'],axis=1,inplace=True)
test.drop(['Main Features'],axis=1,inplace=True)

In [1507]:
for i, row in enumerate(train['Rooms'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            l = v.split(':')
            col, num = l[0], l[1]
            col = col.strip()
            num = int(num)
            train.at[i,col] = num
        except:
            pass

In [1508]:
for i, row in enumerate(test['Rooms'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            l = v.split(':')
            col, num = l[0], l[1]
            col = col.strip()
            num = int(num)
            test.at[i,col] = num
        except:
            pass

In [1509]:
train[['Bedrooms', 'Bathrooms', 'Servant Quarters', 'Kitchens', 'Store Rooms']] = train[['Bedrooms', 'Bathrooms', 'Servant Quarters', 'Kitchens', 'Store Rooms']].fillna(0)
test[['Bedrooms', 'Bathrooms', 'Servant Quarters', 'Kitchens', 'Store Rooms']] = test[['Bedrooms', 'Bathrooms', 'Servant Quarters', 'Kitchens', 'Store Rooms']].fillna(0)

In [1510]:
train.drop(['Rooms'],axis=1,inplace=True)
test.drop(['Rooms'],axis=1,inplace=True)

In [1511]:
for i, row in enumerate(train['Business and Communication'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            col = v.strip()
            num = 1
            train.at[i,col] = num
        except:
            pass

In [1512]:
for i, row in enumerate(test['Business and Communication'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            col = v.strip()
            if col == '': continue
            num = 1
            test.at[i,col] = num
        except:
            pass

In [1513]:
train.drop(['Business and Communication'],axis=1,inplace=True)
test.drop(['Business and Communication'],axis=1,inplace=True)

In [1514]:
# for i, row in enumerate(train['Healthcare Recreational'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             col = v.strip()
#             if col == '': continue
#             num = 1
#             train.at[i,col] = num
#         except:
#             pass

# for i, row in enumerate(test['Healthcare Recreational'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             col = v.strip()
#             if col == '': continue
#             num = 1
#             test.at[i,col] = num
#         except:
#             pass

In [1515]:
#for now
train.drop(['Healthcare Recreational'],axis=1,inplace=True)
test.drop(['Healthcare Recreational'],axis=1,inplace=True)

In [1516]:
for i, row in enumerate(train['Nearby Locations and Other Facilities'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            col = v.strip()
            num = 1
            train.at[i,col] = num
        except:
            pass
        
for i, row in enumerate(test['Nearby Locations and Other Facilities'].iteritems()):
    val = str(row[1])
    val = val.split(',')
    for v in val:
        try:
            col = v.strip()
            num = 1
            test.at[i,col] = num
        except:
            pass

In [1517]:
train.drop(['Nearby Locations and Other Facilities'],axis=1,inplace=True)
test.drop(['Nearby Locations and Other Facilities'],axis=1,inplace=True)

In [1518]:
# for i, row in enumerate(train['Other Facilities'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             col = v.strip()
#             num = 1
#             train.at[i,col] = num
#         except:
#             pass
        
# for i, row in enumerate(test['Other Facilities'].iteritems()):
#     val = str(row[1])
#     val = val.split(',')
#     for v in val:
#         try:
#             col = v.strip()
#             num = 1
#             test.at[i,col] = num
#         except:
#             pass

In [1519]:
train.drop(['Other Facilities'],axis=1,inplace=True)
test.drop(['Other Facilities'],axis=1,inplace=True)

In [1520]:
train['Time Stamp'] = pd.to_datetime(train['Time Stamp'])
test['Time Stamp'] = pd.to_datetime(test['Time Stamp'])

In [1521]:
train['Month'] = train['Time Stamp'].dt.month
# train['Day'] = train['Time Stamp'].dt.day

test['Month'] = test['Time Stamp'].dt.month
# test['Day'] = test['Time Stamp'].dt.day

# train['Hour'] = train['Time Stamp'].dt.hour
# test['Hour'] = test['Time Stamp'].dt.hour

In [1522]:
# for now
train.drop(['Time Stamp'],axis=1,inplace=True)
test.drop(['Time Stamp'],axis=1,inplace=True)

In [1523]:
train.drop(['Type'],axis=1,inplace=True)
test.drop(['Type'],axis=1,inplace=True)

In [1524]:
train.drop(['Source'],axis=1,inplace=True)
test.drop(['Source'],axis=1,inplace=True)

In [1525]:
train.drop(['Property_Id'],axis=1,inplace=True)
test.drop(['Property_Id'],axis=1,inplace=True)

In [1526]:
train.drop(['Bedroom(s)'],axis=1,inplace=True)
test.drop(['Bedroom(s)'],axis=1,inplace=True)

In [1527]:
train.drop(['Baths'],axis=1,inplace=True)
test.drop(['Baths'],axis=1,inplace=True)

In [1528]:
cols_to_rem = list(test.columns)

In [1529]:
cols_to_rem.append('Price_Category')

In [1530]:
train = train[cols_to_rem]

In [1531]:
train.isna().sum()

Area                                              0
Popular                                         984
Town                                              0
City                                              0
Province                                          0
Bedrooms                                          0
Bathrooms                                         0
Kitchens                                          0
Servant Quarters                                  0
Store Rooms                                       0
Broadband Internet Access                      1314
Satellite or Cable TV Ready                    1344
Intercom                                       1635
Other Business and Communication Facilities    2041
                                               1621
Nearby Schools                                 1295
Nearby Hospitals                               1303
Nearby Shopping Malls                          1327
Nearby Restaurants                             1329
Distance From Airport (kms)                    1488
Nearby Public Transport Service                1389
Other Nearby Places                            1691
Month                                             0
Price_Category                                    0
dtype: int64

In [1532]:
test.isna().sum()

Area                                             0
Popular                                        176
Town                                             0
City                                             0
Province                                         0
Bedrooms                                         0
Bathrooms                                        0
Kitchens                                         0
Servant Quarters                                 0
Store Rooms                                      0
Broadband Internet Access                      229
Satellite or Cable TV Ready                    234
Intercom                                       290
Other Business and Communication Facilities    359
                                               324
Nearby Schools                                 230
Nearby Hospitals                               231
Nearby Shopping Malls                          234
Nearby Restaurants                             236
Distance From Airport (kms)                    264
Nearby Public Transport Service                249
Other Nearby Places                            295
Month                                            0
dtype: int64

In [1533]:
train['Popular'] = train['Popular'].fillna('-999')
test['Popular'] = test['Popular'].fillna('-999')

In [1534]:
train.drop(['Province'],axis=1,inplace=True)
test.drop(['Province'],axis=1,inplace=True)

In [1535]:
train.drop([''],axis=1,inplace=True)
test.drop([''],axis=1,inplace=True)

In [1536]:
# train['Area_Bin'] = train['Area'].apply(lambda x: 0 if x < 8 else 1)
# test['Area_Bin'] = test['Area'].apply(lambda x: 0 if x < 8 else 1)

In [1537]:
# train['Area_Bin'].value_counts()

In [1538]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)

In [1539]:
# train['AxA'] = train['Area'] * train['Bathrooms']
# test['AxA'] = test['Area'] * test['Bathrooms']

In [1540]:
d = dict(train.groupby(['Bedrooms','Bathrooms'])['Area'].mean())

In [1541]:
d

{(0.0, 0.0): 3744.606550218341,
 (0.0, 5.0): 2178.0,
 (0.0, 14.0): 13068.0,
 (2.0, 0.0): 1322.357142857143,
 (2.0, 2.0): 1532.7674999999997,
 (2.0, 3.0): 1400.142857142857,
 (2.0, 4.0): 1361.25,
 (3.0, 0.0): 1945.2701612903227,
 (3.0, 2.0): 1270.5,
 (3.0, 3.0): 2046.1856249999996,
 (3.0, 4.0): 1711.5287946428573,
 (3.0, 5.0): 1452.8250000000003,
 (3.0, 6.0): 1361.25,
 (4.0, 0.0): 3439.425,
 (4.0, 2.0): 1585.8562499999998,
 (4.0, 3.0): 1279.575,
 (4.0, 4.0): 2672.5359375000003,
 (4.0, 5.0): 2557.417500000001,
 (4.0, 6.0): 2511.182142857143,
 (4.0, 7.0): 2722.5,
 (4.0, 41.0): 3267.0,
 (5.0, 0.0): 4964.723076923077,
 (5.0, 3.0): 3539.25,
 (5.0, 4.0): 4099.307142857143,
 (5.0, 5.0): 4453.770283018868,
 (5.0, 6.0): 4561.387851782363,
 (5.0, 7.0): 3264.8506578947367,
 (5.0, 8.0): 5445.0,
 (6.0, 0.0): 5022.211764705882,
 (6.0, 5.0): 3303.2999999999997,
 (6.0, 6.0): 5026.1383333333315,
 (6.0, 7.0): 5966.726886792453,
 (6.0, 8.0): 5084.26875,
 (6.0, 9.0): 4029.3,
 (6.0, 10.0): 5445.0,
 (7.0, 0.0): 5662.8,
 (7.0, 3.0): 1306.8,
 (7.0, 6.0): 10890.0,
 (7.0, 7.0): 5590.512931034483,
 (7.0, 8.0): 7439.08,
 (7.0, 9.0): 4560.1875,
 (7.0, 10.0): 7623.0,
 (8.0, 3.0): 5445.0,
 (8.0, 4.0): 1306.8,
 (8.0, 7.0): 3267.0,
 (8.0, 8.0): 6304.221000000001,
 (8.0, 9.0): 7934.142857142857,
 (8.0, 10.0): 5907.825,
 (8.0, 12.0): 10890.0,
 (9.0, 0.0): 2196.15,
 (9.0, 9.0): 6160.857352941176,
 (9.0, 10.0): 7963.3125,
 (9.0, 11.0): 6261.75,
 (9.0, 12.0): 3947.625,
 (10.0, 0.0): 8712.0,
 (10.0, 10.0): 3929.4750000000004,
 (10.0, 12.0): 10890.0,
 (10.0, 14.0): 5445.0,
 (11.0, 12.0): 6534.0,
 (12.0, 12.0): 9801.0,
 (13.0, 13.0): 10890.0,
 (13.0, 15.0): 27225.0,
 (14.0, 14.0): 21780.0,
 (15.0, 18.0): 10890.0}

In [1542]:
# train['Bed_Bath_Area'] = train.apply(lambda x: d[(x['Bedrooms'], x['Bathrooms'])] if ((x['Bedrooms'], x['Bathrooms']) in d.keys()) else 0, axis=1)

# test['Bed_Bath_Area'] = test.apply(lambda x: d[(x['Bedrooms'], x['Bathrooms'])] if ((x['Bedrooms'], x['Bathrooms']) in d.keys()) else 0, axis=1)

In [1543]:
m = train.groupby(['City', 'Popular'])['Price_Category'].count()

In [1544]:
m = dict(m)

In [1545]:
m

{(' Islamabad', '-999'): 336,
 (' Islamabad', 'hot'): 627,
 (' Islamabad', 'super hot'): 103,
 (' Karachi', '-999'): 301,
 (' Karachi', 'hot'): 562,
 (' Karachi', 'super hot'): 79,
 (' Lahore', '-999'): 347,
 (' Lahore', 'hot'): 374,
 (' Lahore', 'super hot'): 353}

In [1546]:
# train['City_Aff'] = train.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# train['City_Cheap'] = train.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# train['City_Premium'] = train.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# train['City_Sem'] = train.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)

# test['City_Aff'] = test.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# test['City_Cheap'] = test.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# test['City_Premium'] = test.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)
# test['City_Sem'] = test.apply(lambda x: m[(x['City'], x['Popular'])] if ((x['City'], x['Popular']) in m.keys()) else 0, axis=1)

In [1547]:
# train['x'] = train['Area'] / 4
# train['y'] = train['Area'] - (train['Area'] / 4)

# test['x'] = test['Area'] / 4
# test['y'] = test['Area'] - (test['Area'] / 4)

In [1548]:
train.drop(['Other Business and Communication Facilities'],axis=1,inplace=True)
test.drop(['Other Business and Communication Facilities'],axis=1,inplace=True)

In [1549]:
train

,Area,Popular,Town,City,Bedrooms,Bathrooms,Kitchens,Servant Quarters,Store Rooms,Broadband Internet Access,...,Intercom,Nearby Schools,Nearby Hospitals,Nearby Shopping Malls,Nearby Restaurants,Distance From Airport (kms),Nearby Public Transport Service,Other Nearby Places,Month,Price_Category
0,5445.00,super hot,Bahria Town,Lahore,5.0,7.0,2.0,1.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,3,Semi-Premium
1,6534.00,hot,Emaar Canyon Views,Islamabad,5.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Semi-Premium
2,5445.00,super hot,DHA Defence,Lahore,6.0,6.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Premium
3,2559.15,-999,Bahria Town Karachi,Karachi,3.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,Semi-Premium
4,1361.25,hot,Bani Gala,Islamabad,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Affordable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,3375.90,-999,I-8,Islamabad,10.0,10.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Premium
3078,1361.25,super hot,Al Jalil Garden,Lahore,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,Affordable
3079,1361.25,-999,DHA Defence,Islamabad,2.0,2.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3,Cheap
3080,2722.50,super hot,Bahria Town,Islamabad,5.0,6.0,2.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3,Semi-Premium
3081,1361.25,hot,Bhara kahu,Islamabad,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,Affordable

In [1550]:
train.to_csv('train_clean.csv', index = False)
test.to_csv('test_clean.csv', index = False)

In [1551]:
from category_encoders import TargetEncoder, MEstimateEncoder, JamesSteinEncoder, LeaveOneOutEncoder
from sklearn.preprocessing import LabelEncoder

In [1552]:
le = LabelEncoder()
train['Price_Category'] = le.fit_transform(train['Price_Category'])

In [1553]:
te = JamesSteinEncoder()

In [1554]:
cols = train.columns[train.dtypes=='object']

In [1555]:
cols

Index(['Popular', 'Town', 'City'], dtype='object')

In [1556]:
train[cols] = te.fit_transform(train[cols], train['Price_Category'])

In [1557]:
test[cols] = te.transform(test[cols])

In [1558]:
train

,Area,Popular,Town,City,Bedrooms,Bathrooms,Kitchens,Servant Quarters,Store Rooms,Broadband Internet Access,...,Intercom,Nearby Schools,Nearby Hospitals,Nearby Shopping Malls,Nearby Restaurants,Distance From Airport (kms),Nearby Public Transport Service,Other Nearby Places,Month,Price_Category
0,5445.00,2.476636,2.740114,2.585661,5.0,7.0,2.0,1.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,3,3
1,6534.00,2.451056,3.000000,2.414634,5.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3
2,5445.00,2.476636,2.338490,2.585661,6.0,6.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
3,2559.15,2.527439,2.566526,2.433121,3.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,3
4,1361.25,2.451056,2.398006,2.414634,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,3375.90,2.527439,2.103018,2.414634,10.0,10.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
3078,1361.25,2.476636,0.000000,2.585661,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
3079,1361.25,2.527439,2.338490,2.414634,2.0,2.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3,1
3080,2722.50,2.476636,2.740114,2.414634,5.0,6.0,2.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3,3
3081,1361.25,2.451056,2.146791,2.414634,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0

In [1559]:
X = train.drop(['Price_Category'], axis=1)
y = train['Price_Category'].copy()

In [1560]:
from sklearn.metrics import f1_score
from sklearn.model_selection import StratifiedKFold

In [1561]:
def cross_val(X, y, model, metric = f1_score, folds = 10):
    scores = []
    for tr_in, val_in in StratifiedKFold(n_splits = folds).split(X, y):
        model_fold = model
        X_train, y_train, X_val, y_val = X.iloc[tr_in,:], y[tr_in], X.iloc[val_in,:], y[val_in]
        model_fold.fit(X_train, y_train)
        y_hat = model.predict(X_val)
        scores.append(metric(y_val,y_hat, average='macro'))
    return np.mean(scores)

In [1562]:
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

In [1563]:
# X.drop(ld,axis=1,inplace=True)
# test.drop(ld,axis=1,inplace=True)

In [1564]:
lgbm = LGBMClassifier(n_jobs=-1)
rf = RandomForestClassifier(n_jobs=-1)
xgb = XGBClassifier(n_estimators = 100, n_jobs=-1, verbosity = 0)
cat = CatBoostClassifier(verbose=0)
extra = ExtraTreesClassifier(n_jobs=-1)

In [1567]:
train

,Area,Popular,Town,City,Bedrooms,Bathrooms,Kitchens,Servant Quarters,Store Rooms,Broadband Internet Access,...,Intercom,Nearby Schools,Nearby Hospitals,Nearby Shopping Malls,Nearby Restaurants,Distance From Airport (kms),Nearby Public Transport Service,Other Nearby Places,Month,Price_Category
0,5445.00,2.476636,2.740114,2.585661,5.0,7.0,2.0,1.0,2.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,3,3
1,6534.00,2.451056,3.000000,2.414634,5.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,3
2,5445.00,2.476636,2.338490,2.585661,6.0,6.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
3,2559.15,2.527439,2.566526,2.433121,3.0,3.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5,3
4,1361.25,2.451056,2.398006,2.414634,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3077,3375.90,2.527439,2.103018,2.414634,10.0,10.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,2
3078,1361.25,2.476636,0.000000,2.585661,3.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,0
3079,1361.25,2.527439,2.338490,2.414634,2.0,2.0,1.0,0.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3,1
3080,2722.50,2.476636,2.740114,2.414634,5.0,6.0,2.0,1.0,0.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3,3
3081,1361.25,2.451056,2.146791,2.414634,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0

In [1568]:
cross_val(X, y, lgbm)

0.7531827966076265

In [1569]:
cross_val(X, y, rf)

0.7162849285324924

In [1570]:
cross_val(X, y, xgb)

0.7580910076506661

In [1571]:
cross_val(X, y, cat)

0.7206249785528565

In [1572]:
cross_val(X, y, extra)

0.7047220546747642

In [1573]:
def mode(s):
    lst = [s[1], s[2], s[3]]
    return max(set(lst), key=lst.count)

In [1574]:
def cross_val_ensemble(X, y, models, metric = f1_score, folds = 10):
    scores = []
    for tr_in, val_in in StratifiedKFold(n_splits = folds).split(X, y):
        model_1, model_2, model_3 = models[0], models[1], models[2]
        X_train, y_train, X_val, y_val = X.iloc[tr_in,:], y[tr_in], X.iloc[val_in,:], y[val_in]
        
        model_1.fit(X_train, y_train)
        model_2.fit(X_train, y_train)
        model_3.fit(X_train, y_train)
        
        preds = pd.concat([pd.DataFrame(model_1.predict(X_val)), pd.DataFrame(model_2.predict(X_val)), 
                           pd.DataFrame(model_3.predict(X_val))],axis=1)
        preds.columns = [1,2,3]
        
        y_hat = preds.apply(mode, axis=1)
        
        scores.append(metric(y_val,y_hat, average='macro'))
    return np.mean(scores)

In [1575]:
lgbm = LGBMClassifier(n_jobs=-1)
extra = ExtraTreesClassifier(n_jobs=-1)
xgb = XGBClassifier(n_estimators = 100, n_jobs=-1, verbosity = 0)

SyntaxError: invalid syntax (<ipython-input-1575-b7d162b18f33>, line 2)

In [ ]:
cross_val_ensemble(X, y, [lgbm, extra, xgb])

In [ ]:
lgbm = LGBMClassifier(n_jobs=-1)
extra = ExtraTreesClassifier(n_jobs=-1)
xgb = XGBClassifier(n_jobs=-1)

In [ ]:
# model.fit(X, y)
lgbm.fit(X, y)
extra.fit(X, y)
xgb.fit(X, y)

In [ ]:
imps = pd.DataFrame()
imps['cols'] = X.columns
imps['importance1'] = xgb.feature_importances_
imps['importance2'] = extra.feature_importances_
imps['importance3'] = lgbm.feature_importances_

In [ ]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
imps['importance'] = np.nan
imps['importance'] = ss.fit_transform(imps[['importance1','importance2','importance3']])

In [ ]:
imps = imps.sort_values('importance', ascending = False).reset_index(drop = True)

In [ ]:
imps

In [ ]:
ld = list(imps.loc[25:,'cols'].values)

In [ ]:
preds = pd.concat([pd.DataFrame(xgb.predict(test)), pd.DataFrame(extra.predict(test)), 
                           pd.DataFrame(lgbm.predict(test))],axis=1)
preds.columns = [1,2,3]

y_hat = preds.apply(mode, axis=1)

sample['Price_Category'] = le.inverse_transform(y_hat)

In [ ]:
sample.to_csv('submission.csv', index = False)

In [ ]:
test